---
layout: default
title: People

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, staff]
    width: 8
    image: true
- - roles: [scientist, postdoc]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab, ugrad, ugrad-alum]
    width: 8
    image: false
- - roles: [alum]
    width: 8
    image: false

---

<div id="people">
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>

<!-- <section class="people row justify-content-between">
    {% for role-group in page.picture-role-groups %}
        <div class="col-md-{{ role-group.width }}">
            {% for role in role-group.roles %}
                {% include role-people.html role=role image=true %}
            {% endfor %}
        </div>
    {% endfor %}
</section>

<section class="people row justify-content-between">
    {% for role-group in page.no-picture-role-groups %}
        <div class="col-md-{{ role-group.width }}">
            {% for role in role-group.roles %}
                {% include role-people.html role=role image=false %}
            {% endfor %}
        </div>
    {% endfor %}
</section> -->

